# Environment
.env

# Python
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# FAISS index files (if ever saved)
*.faiss
*.pkl

# Virtual environments
venv/
env/

# Sample PDFs
assets/sample_pdfs/
